* {
  margin: 0px;
}
.heading {
  background-color: brown;
  color: white;
  text-align: center;
}
span {
  color: red;
}
u {
  color: orange;
}
body {
  background-color: lightgoldenrodyellow;
}
table {
  width: 100%;
}
table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.checkbox {
  width: 5px;
}
.bluetext {
  color: blue;
}
.textbox {
  width: 300px;
}
